*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    justify-content: center;
    width: 1045px;
    height: 50px;
}
footer{
    position: relative;
    top: 104px;
    right: 250px;
    justify-content: center;
    background-color: black;
    width: 1045px;
    height: 30px;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
    left: 230px;
}
.boris{
    position: relative;
    top: 50px;
    left: 250px
}
.foo{
    position: relative;
    left: 280px;
}
.libro{
    height: 80px;
    position: relative;
    right: 230px;
}
#guardar{
    position: relative;
    left: 169px;
    top: 23px;
}
#usuario{
    height: 53px;
    position: relative;
    left: 600px;
    bottom: 283px;
}
#karen{
    position: relative;
    left: 600px;
    bottom: 313px;
    height: 30px;
}
#linea{
    position: relative;
    left: 110px;
}
#num{
    position: relative;
    left: 34px;
}
#lineas{
    position: relative;
    left: 120px;
}