*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
    justify-content: center;
    position: relative;
    height: 50px;
}
footer{
    position: relative;
    top: 510px;
    justify-content: center;
    background-color: black;
    height: 30px;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: relative;
    left: 230px;
}
.solicitud{
    position: relative;
    left: 80px;
    height: 80px;
    top: 30px;
}
#buscar{
    position: relative;
    left: 76px;
}
.documento{
    border-radius: 15px;
    border-color: black;
    border: solid;
    position: relative;
    left: 150px;
    bottom: 2px;
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px;
}
#lupa{
    height: 16px;
    position: relative;
    top: 2px;
    left: 3px;
}
#de{
    border: white solid 1px;
    border-radius: 15px;
    position: relative;
    bottom: 0px;
    height: 19px;
    width: 500px;

}
#titulo1{
    position: relative;
    left: 85px;
}
#titulo2{
    position: relative;
    left: 106px;
}
#titulo3{
    position: relative;
    left: 126px;
}
#titulo{
    position: relative;
    left: 85px;
}
#autor{
    position: relative;
    left: 105px;
}
#area{
    position: relative;
    left: 125px;
}